/* home.js styling */
* {
  margin: 0;
  padding: 0;
}

body{
  background-color:darksalmon;
}

li {
  list-style: none;
}

.wholePage {
  justify-content: center;
  align-items: center;
}

.each-genre {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 180px 180px;
  gap: 6px;
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.searchBar {
  display: flex;
  padding: 14px;
  justify-content: center;
}

.listHome {
  height: 136px;
  background: cornflowerblue;
  border-radius: 6px;
}

.homeSubInfo {
  text-align: center;
  justify-content: center;
}

.homeSubInfo h2 {
  text-decoration-style: none;
  font-size: medium;
  color:rgb(65, 72, 84);
}

.typeInput {
  width: 50%;
  height: 20px;
  border-radius: 6px;
  padding: 4px;
}

.imgIcon {
  height: 90px;
  color: white;
  width: 100%;
}

/* 
secondpage styles */

.secondSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  margin-bottom: 1rem;
}

.allHeroList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 6px;
  gap: 0.5rem;
}

.individualHero {
  background-color:brown;
  border-radius: 6px;
  height: 100%;
}

.allHeroList a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.allHeroList img {
  width: 45vw;
  border-radius: 6px;
  height: 60vh;
  object-fit: cover;
  margin-top: 2px;
}

/* third page styles = comichero*/

.selectedHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}

.selectedHero img {
  border-radius: 6px;
  height: 38vh;
  margin-top: 25px;
  width: fit-content;
}

.infoMain {
  padding: 42px;
  width: 60%;
}

.subInfo {
  color:antiquewhite;
  gap: 2px;
  background-color: rgb(124, 109, 88);
}

/* header styles */
.headerMain {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: cadetblue;
}

svg {
  height: 80%;
  width: 38px;
}

.setting {
  height: 100;
}

.headingTitle {
  color: #433a3a;
  font-size: 34px;
  background-color: bisque;
  padding: 4px;
  border-radius: 6px;
}