/* home.js styling */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #010615;
  color: #fff;
}

li {
  list-style: none;
}

.wholePage {
  justify-content: center;
  align-items: center;
}

.each-genre {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 180px 180px;
  gap: 6px;
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.searchBar {
  display: flex;
  padding: 14px;
  justify-content: center;
}

.listHome {
  height: 136px;
  background-color: hsl(242deg 88.4% 66.3% / 61%);
  border-radius: 6px;
  color: #fff;
}

.homeSubInfo {
  text-align: center;
  justify-content: center;
}

.homeSubInfo h2 {
  text-decoration: none;
  font-size: medium;
  color: rgb(255, 255, 255);
}

.homeSubInfo p {
  text-decoration: none;
  font-size: medium;
  color: rgb(255, 255, 255);
}

.typeInput {
  width: 50%;
  height: 20px;
  border-radius: 6px;
  padding: 4px;
}

.imgIcon {
  height: 90px;
  color: white;
  width: 100%;
}

/*
secondpage styles */

.secondSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  margin-bottom: 1rem;
}

.allHeroList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 6px;
  gap: 0.5rem;
}

.individualHero {
  background-color: hsl(242deg 88.4% 66.3% / 61%);
  border-radius: 6px;
  height: 100%;
}

.allHeroList a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.allHeroList img {
  width: 45vw;
  border-radius: 6px;
  height: 24vh;
  object-fit: cover;
  margin-top: 2px;
}

/* third page styles = comichero */

.selectedHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}

.selectedHero img {
  border-radius: 6px;
  height: 38vh;
  margin-top: 25px;
  width: fit-content;
}

.infoMain {
  padding: 42px;
  width: 60%;
}

/* header styles */
.headerMain {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #010615;
}

svg {
  height: 80%;
  width: 38px;
  color: #fff;
}

.setting {
  height: 100px;
}

.headingTitle {
  font-size: 34px;
  padding: 4px;
  border-radius: 6px;
}
